<div class="flex justify-center">
  <a href="https://pub.dev/packages/flutter_fast_cli" class="w-300 bg-gradient-to-r px-16 py-4 from-blue-500 to-green-400 shadow-lg rounded-full font-bold">Get the CLI</a>
</div>

