---
import { Image } from "astro:assets";
import flutterFastImage from "~/assets/flutter-fast.png";
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<ContentSection title="Launch Fast" id="intro">
  <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Image
        class="h-full w-full object-cover"
        src={flutterFastImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
  </div>
  <Fragment slot="lead">
    Build the app you want in
    <span class="text-green-400">seconds</span>. The Flutter Fast CLI generates 
    <span class="text-green-400">scalable</span>
     apps for <span class="text-green-400">all platforms</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="/flutter-fast-guide/docs/start/why"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://pub.dev/packages/flutter_fast_cli"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Get the CLI</span>
    </a>
  </div>
</ContentSection>
